<!DOCTYPE html>
<html lang="zh-CN">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List | 亲自动手实现一个吧</title>
    <meta name="keywords" content="Todo List,网页todo,备忘录"/>
    <meta name="description" content="我自己的在线备忘录"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.4.1/bootstrap.min.css' %}">
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.4.1/bootstrap.min.js' %}"></script>
</head>

<body>
<div id="title">Todo List</div>
<!-- 输入区   -->
<form action="/create" method="post" class="form-inline inputZone">
    <input type="text" id="input" name="title" class="form-control"
           placeholder="新增待办事项..."
           autofocus
    />
    <button id="input-btn" class="btn btn-default">提交</button>
    {% csrf_token %}
    {% include 'messages.html' %}
</form>
<!-- 展示区   -->
<div class="panel panel-primary list">
    <div class="panel-heading">
        <h3 class="panel-title">今日事今日毕，勿将今事待明日!</h3>
    </div>
    <div class="panel-body">
        <div id="list">
            {% if todos %}
            <ul>
                {% for todo in todos %}
                <li>
                    {% if todo.status == 0 %}
                    <span class="todo-content">{{ todo.title }}</span>
                    {% else %}
                    <span class="todo-content todo-done"
                          style="text-decoration: line-through;">{{ todo.title }}</span>
                    {% endif %}

                    <div class="handle">
                        {% if todo.status == 0 %}
                        <a href="/status/{{ todo.pk }}">完成</a>
                        {% else %}
                        <a href="status/{{ todo.pk }}">未完成</a>
                        {% endif %} |
                        <a href="/delete/{{ todo.pk }}">删除</a>
                    </div>

                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>添加你的第一个代办事项！📝</p>
            <p>所有提交操作支持 Enter 回车键提交~</p>
            <p>每次点击操作都会刷新页面~</p>
            <p>🔒 所有的 Todo 数据存储在MySQL数据库~</p>
            {% endif %}
        </div>
    </div>
</div>


</body>

</html>