{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 clearfix">
             <!-- 输入区   -->
            <div id="title">
                <img src="{% static 'img/cute-cat.png' %}" id="title">
            </div>
            <form action="/add" method="post" id="form">
                <input type="text" name="title" autofocus class="form-control" id="input" placeholder="新增待办事项..."
                    autocomplete="off">
                <input type="submit" id="inputBtn" value="提交">
                {% csrf_token %}
            </form>
            {% include 'messages.html' %}
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-8 offset-md-2">
            <!-- 展示区 -->
            <div class="card blackBorder">
                <div class="card-body">
                    <h5 class="font-weight-bolder">今日事今日毕，勿将今事待明日!</h5>
                    {% if todos %}
                    <ul>
                        {% for todo in todos %}
                        <li class="todo {% if todo.status%}check{% endif %}">
                            {% if todo.status %}
                            <img src="{% static 'img/check.png' %}" class="todoCheckIcon" todoID="{{todo.id}}" alt="">
                            {% else %}
                            <img src="{% static 'img/circle.png' %}" class="todoCheckIcon" todoID="{{todo.id}}" alt="">
                            {% endif %}
                            <!-- 简单的截断方法 -->
                            <!-- <span class="todo-content">{{ todo.title|truncatechars:15 }}</span> -->
                            <span class="todo-content">{{ todo.title }}</span>
                            <img src="{% static 'img/remove.png' %}" class="todoRemoveIcon" todoID="{{todo.id}}" alt="">
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <div id="tip">
                        <p>添加你的第一个代办事项！📝</p>
                        <p>所有提交操作支持 Enter 回车键提交~</p>
                        <p>新增操作会刷新页面~</p>
                        <p>完成和删除操作使用Ajax实现, 不会刷新页面~</p>
                        <p>所有的 Todo 数据存储在 MySQL 数据库~</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block js %}
<script src="{% static 'js/todo.js' %}"></script>
{% endblock %}